# Node
node_modules
.next

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
backend/drowssiness_ev/
backend/venv/
venv/

# Environment files
.env
.env.local
.env.production

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db